body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WeatherForm{
    font-size: 30px;
}

.cityInput{
    padding: 10px;
    margin: 30px;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid hsl(0, 0%, 20%,0.3);
    border-radius: 10px;
    width: 400px;
}

button[type = "submit"]{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 10px;
    color: hsl(0, 0%, 100%);
    background-color: hsla(120, 100%, 40%, 0.734);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button[type = "submit"]:hover{
    transform: scale(1.05);
    transition: transform 0.2s ;
    background-color: hsla(120, 100%, 30%, 0.734);
    
}

button[type = "submit"]:active{
    transform: scale(0.8);
    transition: transform 0.1s;
}

.card{
    background: linear-gradient(180deg , hsl(210, 100%, 75%) , hsl(40, 100%, 75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}

h1{
    margin-top: 0;
    margin-bottom: 20px;

}

p{
    font-size: 2rem;
    margin: 7px 0 ;
}

.cityDisplay , .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.753);
    margin-bottom: 20px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatheremoji{
    font-size: 8rem;
    margin: 0;

}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.683);
}


