body{
    font-family:Verdana ;
}
#container{
    text-align: center;
    font-size: 250%;
}
#rolls{
    text-align: center;
    width: 80px;
    font-size: 25px;
    border-radius: 5px;
}
h1{
    color: hsl(180, 39%, 65%);
}
button{  
    font-size: 25px; 
    padding: 5px 10px; 
    color: white;
    background-color: hsla(0, 0%, 0%, 0.755);
    border-radius: 3px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;

}
button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsla(0, 0%, 0%, 0.755);
}
button:active{
    color: white;
    background-color: hsla(0, 0%, 0%, 0.755);
}
#result{
    font-size: 35px;
    margin: 25px;
}
#Images img{
    width: 80px;
    margin: 5px;
}