.slider{
    position: relative;
    width: 100% ;
    overflow: hidden ;
    margin: auto ;

}
.slider img {
    width: 100% ;
    height: 600px ;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name : fade ;
    animation-duration : 1s ;
}

.slider button{
    position: absolute;
    top : 50% ;
    font-size: 2rem;
    transform : translateY(-50%) ;
    background-color: hsla(0, 0%, 28%, 0.646);
    color: white;
    border : none ;
    cursor : pointer ;
    padding : 0.5rem 1rem ;
}
.prev{
    left: 0 ;
}
.next{
    right: 0 ;
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}