body{
    margin: 0;
    padding: 0;
}
#Watch-Container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#heading{
    font-size: 80px;
    font-family:monospace;
}
#Watch{
    border: 4px solid hsl(0, 0%, 0%);
    border-radius: 40px;
    padding: 10px;
    margin: 2px;
    align-items: center;

}
.btns{
    display: flex;
    justify-content: center;   
    gap: 15px;               
}
button{
    border: none;
    padding: 3px 11px;
}

#time{
    font-size: 80px;
}
#start { background: hsl(120, 75%, 61%); color: white;
    font-size: 32px;
border-radius: 10px; }
#start:hover{ background-color:hsl(120, 75%, 41%) ;}
#stop  { background: hsl(0, 96%, 67%); color: white;
    font-size: 32px; 
border-radius: 10px;}
#stop:hover{ background-color:hsl(0, 96%, 47%) ;}
#reset { background: hsl(192, 74%, 79%); color: white;
    font-size: 32px; 
border-radius: 10px;}
#reset:hover{
    background-color: hsl(192, 74%, 59%);
}
