body{
    margin: 0;
    padding: 0;
    background-image: url(Img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-size: 3rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #e1f9fe;
}