.myButtons {
    border : none ;
    border-radius: 4px;
    color : white ;
    background-color: hsl(193, 59%, 62%);
    font-size: 4rem;
    margin  : 20px ;
    padding : 10px ;
    cursor: pointer;

}