.box{
    border: 2px solid black;
    width: 100%;
    height: 100px;
}
#MyBox{
    background-color : hsl(239, 72%, 67%) ;
    width : 300px ;
    height : 300px ;
    display: flex ;
    text-align: center;
    align-items: center ;
    font-size: 4.1rem ;
}