body{
    margin: 0;
}

#myBox{
    background-color: hsl(9, 100%, 75%);
    width: 250px ;
    height: 250px ;
    display : flex ;
    justify-content : center ;
    align-items : center ;
    font-size: 8rem;
    border-radius: 2px;
    position: relative;

}