.page{
    text-align: center;
    font-size: 20px;
}
.page a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: inline-block;
}
.page a.first{
    border: 1px ;
    color: white;
    box-shadow: 2px 2px 10px hsl(110, 78%, 65%);
    border-radius: 8px;
    background-color: hsl(110, 78%, 65%);
}
.page a:hover:not(.first){
    background-color: hsl(110, 78%, 65%);
    color: white;
    box-shadow: 2px 2px 10px hsl(110, 78%, 65%);
    border-radius: 8px;
}

.dropdown{
    display:inline-block ;
}


.dropdown button{
    background-color: hsl(0, 13%, 87%);
    border: none;
    border-radius: 4px;
    color: hsl(0, 0%, 0%);
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
.dropdown a{
    text-decoration:none;
    color: black;
    padding: 10px 15px;
    display: block;
}

.dropdown .content{
    border-radius: 4px;
    display:none ;
    position: absolute;
    background-color: hsl(0, 6%, 94%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 1%, 79%);
}
.dropdown a:hover{
    background-color: hsl(0, 1%, 79%);
}