body{
    margin: 0;
    padding: 0;
}

.Container{
    border: 10px solid black;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.box{
    width: 200px;
    height: 200px;
    display: block;
    text-align: center;
    font-size: 200px;
    border-radius: 17px;
    box-shadow:0px 2px 8px hsl(0, 5%, 23%) ;
}
#box1{
    background-color: hsl(0, 79%, 72%);
}
#box2{
    background-color: hsl(61, 84%, 52%);
}
#box3{
    background-color: hsla(98, 80%, 58%, 0.981);
}
#box4{
    background-color: hsl(0, 98%, 48%);
}
#box5{
    background-color: rgb(228, 95, 210);
}
