#fruits li::before{
    content: "✔️";
}
#apple::after{
    content: "🍎 ";
}
#banana::after{
    content: "🍌 ";
}
#mango::after{
    content: "🥭 ";
}
#grapes::after{
    content: "🍇 "
}
#fruits li:hover{
    background-color: rgb(243, 184, 33);
}
#fruits li:not(:hover){
    background-color: rgb(175, 173, 169);
}
#table::first-letter{
    font-size: 200%;
}
#fruits li::marker{
    content: "🤪";
    font-size: 150%;
}