*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: rgb(149, 148, 148);
    text-align: center;
    padding: 25px;
}
.navbar{
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    height: 50px;
}

aside {
    float: left;
    width: 40%;
    padding: 10px;
}
article {
    float: left;
    width: 30%;
    padding: 10px;
}
section {
    float: left;
    width: 30%;
    padding: 10px;
}
footer{
    background-color: rgb(149, 148, 148);
    padding: 15px;
    text-align: center;
    display: block;
    clear: both;
}
@media screen and (max-width:600px) {
    aside, article, section {
        width: 100%;
        height: auto;
    }
}



