*{
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 252, 252);
    margin: 0;
    border: 4px solid black;
    display: flow-root;
}

h1{
    font-size: 70px ;
    text-shadow: 6px 6px 4px hsl(64, 77%, 66%),
                 -6px -6px 4px hsl(19, 78%, 63%);
    
}
.box{
    font-size: 5em;
    border: 4px solid black;
    width: 300px;
    height: 300px;
    margin: 20px;
    display :inline-block;
    text-align: center;
    line-height: 300px;
    font-weight: bold;
    
}
#Box1{
    background-color: lightblue;
    
    
}
#Box2{
    background-color: lightgreen;
   
}
#img1{
    width: 100px;
    float: left;

}
#img2{
    width: 100px;
    
}



