#tital{
    text-align: center;
    color: hsl(197, 82%, 48%);
    text-shadow: 2px 2px 4px hsl(197, 74%, 79%);
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}

#box a{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: hsl(197, 85%, 30%);
    text-decoration: none;
    font-weight: 500;
    padding: 8px 14px;
    transition: 0.3s;
    border-radius: 8px;
}
#box{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: hsl(197, 83%, 92%);
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgb(0,0,0,0.15);
    
    
}
#box a:hover{
    background-color: hsl(197, 85%, 30%);
    color: white;
    box-shadow: 0px 2px 6px rgb(0,0,0,0.2);
    transform: translateY(-2px);
    

}