#box1{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid black;
    margin: 20px;
    position:absolute;
    
}

#box1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    
    margin: 20px;
    position:fixed;
    
}#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(195, 253, 137);
    
    position:absolute;
    top : 100px ;
    left : 45px;
    overflow: auto;
    
}
body{
    background-image: url(images/landscape.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
/* Nested selectors : child */
#box1 > p{ 
    margin: 17px;
    padding: 4px;
    border: 1px solid black;
    background-color: white;
    font-style: italic;
    font-weight: bold;
}
/* Nested selectors : descendant 
  ~ : for general sibiling
  + : for adjcent sibling*/
#box2  p{
    margin: 10px;
    padding: 4px;
    border: 1px solid black;
    background-color: white;
    font-style: italic;
    font-weight: bold;
}