body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
#calculator{
    max-width: 500px;
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 10px hsl(0, 0%, 40%);
}
#display{
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 5rem;
    border: none;
    text-align: left;
    padding: 15px;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 50%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}