body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;

}
h1{
    font-size: 4rem;
    color: hsl(0, 0%, 20%);
}

.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size:7rem ;
    border: none;
    margin: 0 10px;
    background-color: hsl(0, 100%, 100%);
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    cursor: pointer;

}
.choices button:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}
.choices button:active{
    transform: scale(0.9);
    transition: transform 0.1s;
}

#scoreDisplay{
    font-size: 1.5rem;
}

#playerDisplay, #computerDisplay{
    font-size: 2rem;
    margin: 20px;
}
#resultDisplay{
    font-size: 5rem;
    margin: 20px;
}

.green ,#playerScoreNumber{
    color: hsl(120, 86%, 50%);
}
.red , #computerScoreNumber{
    color: hsl(0, 95%, 58%);
}
.grey{
    color: hsl(0, 0%, 62%);
}