#heading{
    font-size: 7em;
    text-align: center;
    color: tomato;
}
section{
    text-align: center;
    margin-top: 50px;
}

div{
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    font-size: 4em;
}
.box1{
    background-color: lightblue;
}
.box2{
    background-color: lightgreen;
}
.box3{
    background-color: lightcoral;
}